/bin
data.inventory
/demo
/Labels/*.pdf
/build
/dist/lib/inventory-tracker.jar
/dist
/style-reports
/Reports/*.html
/Reports/*.pdf
/database/*
/report-test/*
/report-valid-test/*
/coverage-reports/*
/coverage-reports